@charset "UTF-8" ;

@media (max-width: 700px),(-webkit-min-device-pixel-ratio:0){
	header{

		align-items:flex-end;
		align-content: center;
		padding: 0px;
	}
}


@media (min-width: 960px){
	header{
		background-image: url(image/banner1.jpg);
		background-blend-mode: soft-light;
		padding: 10px;
	}
}

.nav{
	display:flex;
	font-size:1rem;
	text-transform: uppercase;
	list-style: none;
	/*↓これで画像のサイズが決まってる？？*/
	align-items: center;
}
.nav li{
	margin-left:  36px; 
}
.nav a{
	color:#432;
}
.nav a:hover{
	color:#0bd;
}

header {
	display: flex;
	width: 100%;
	height: 125px;
	background-color: rgb(207, 207, 207);
	align-items:center;
	flex-wrap: nowrap;
	justify-content: flex-end;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	margin:10px;
  }
  
  /*.nav{
	  flex-direction: row;
	  justify-content: flex-end;
	  flex-wrap: nowrap;

  }*/
   
  .title {
	margin-right: auto;
	margin-left: 20px;
	margin-top: 20px;
}

   
  .menu-item {
	list-style: none;
	display: inline-block;
	padding: 8px;
  }



@media (min-width: 960px){
	.body{
	background-image: url(image/backg1.jpg);
	background-blend-mode: soft-light;
	margin: 20px;	
	}
}


body{
	font-family: sans-serif;
	margin: 10px;

	background-color: #edededea;
}


.notice
{
	background-color: #c4e2f7d3;
}

.wrapper
{
	margin:0px;
	padding: 0px;
}



.container
{
	flex-direction: row;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;


}
.item{
	margin: 10px;
	padding: 10px;
	flex-wrap: wrap;
	align-items: center;

}


.sounds
{
	display:inline-block;
	width: 92% ;
	max-width: 400px ;
	margin: 15px ;
	padding: 25px 0 ;
	border-radius: 6px ;

	color: #fff ;
	font-weight: 700 ;
	background: #21276c
	;
	text-align: center ;
	text-decoration: none ;
	
}
.stop-button
{
	display: block ;

	width: 95% ;
	margin: 15px ;
	padding: 30px 0 ;
	border-radius: 4px ;

	color: #fff ;
	font-weight: 700 ;
	background: #21276c
	;
	text-align: center ;
	text-decoration: none ;
}

.stop-button
{
	background: #8f7c7c ;
}

.sebutton
{
display:flex;
flex-wrap:wrap;
}


.pop_new{
	float: left;
	max-width: 30px;
	height: auto;
}


.youtube
{
display:inline-flex;
flex-wrap:wrap;
width: 95% ;
height: auto;
padding-top: 56.25%;
margin: 30px ;
padding: 40px 0 ;

}

@media (max-width: 600px){
.NandS{margin: 2px;}}
@media (min-width:960px){
	.NandS{margin:15px}
}
.NandS
{
display: inline-flex;
flex-wrap: wrap;
width: 95% ;
height: auto;
padding-top: 56.25%;
padding: 40px 0 ;
}

details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
	cursor: pointer;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
	background: #c3f6ff;
}

@media (min-width:960px){
	footer{
		background-image: url(image/backg1.jpg);
		background-blend-mode: lighten;
		background-color: rgba(255, 255, 255, 0.349);
	}
}
@media (max-width: 700px){
	footer{
		background-color:rgb(31, 31, 31);

	}

}


footer{
	margin: 0px;
	padding: 30px;


}


/*文中の文字を囲む*/
.kakomu{
	padding:2px 8px; /* 枠と文字の空間 */
	margin:0 5px; /* 枠の外の空間 */
	background-color:#f9f9f9; /* 枠の背景色 */
	border:1px solid #777; /* 枠の線の太さ・種類・色 */
	border-radius:2px; /* 枠の角を丸くする */
	box-shadow: 1px 2px 2px #ddd; /*影をいれる*/
	font-family:inherit; /* フォントの種類を継承する */
	font-size:0.85em;	/* フォントの大きさ */
}



/*iphoneデフォルトスタイル適用防止
はこのコード。（メモ）
-webkit-appearance: none;*/






  /**************************************/

 .navlogo{
	 background-color: white;
	 max-width:50%;
	 margin:0%;
	 padding:0%;
 } 
  .menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #3584bb;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
}
.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}
  #menu-btn-check:checked ~ .menu-btn span {
	  background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
  }
  #menu-btn-check:checked ~ .menu-btn span::before {
	  bottom: 0;
	  transform: rotate(45deg);
  }
  #menu-btn-check:checked ~ .menu-btn span::after {
	  top: 0;
	  transform: rotate(-45deg);
  }
.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 80;
    background-color: #3584bb;
}
.menu-content ul {
    padding: /*50px*/ 8px 0;
}
.menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
}
.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color:#ffffff;
    text-decoration: none;
    padding: 9px 20px 5px 0;
    position: relative;
}
.menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 3px;
    top: 16px;
}
.menu-content {
    width: 100%;
    height: 150px;
    position: fixed;
    top: 0;
    left: 100%;/*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background-color: #3584bb;
	justify-content: space-around;
	align-items: flex-start;
    transition: all 0.5s;/*アニメーション設定*/
}
#menu-btn-check:checked ~ .menu-content {
    left: 0;/*メニューを画面内へ*/
}

@media (max-width:600px){
	.menu-content {
		width: 100%;
		height: 100%;
	}
	.nav{
		flex-direction: column;
	}
	.navlogo{
		max-width:100%;
	}
}